body {
    font-family: Arial, sans-serif;
    background-color: #f7f5f0;
    margin: 0;
    padding: 0;
    
   
  }
  
  header {
    background-color:#004A8D;
    color:#f7f5f0;
    text-align: center;
    padding: 10px 0;
    border-bottom:4px solid #F7941D;
  }
  
  nav ul {
      list-style: none;
    }
    
    nav ul li {
      display: inline;
      margin-right: 40px;
    }
    
    nav ul li a {
      color: #f7f5f0;
      text-decoration: none;
    }

    nav ul li a:hover {
      color: #F7941D;
    }

    section {
        padding: 20px;
      }
      
      footer {
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #004A8D;
        color: #F7941D;
      }
    
      .container {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .form {
        width: 300px;
        padding: 20px;
        border: 1px solid #5389bb;
        border-radius: 5px;
        background-color: #f9f9f9;
      }

      .btmPadrao {
        background-color: #004A8D;
        color: #f7f5f0;
        border: none;
        padding: 7px 14px;
        border-radius: 20px;
        transition:
      }

      .btmPadrao:hover{
        background-color:#013361;
        transform: scale(1.03);
      }
  
      


       /* Estilos para as células */
    table {
      border-collapse: collapse;
      width: 100%;
      }

      td, th {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
      }

      /* Estilo alternado para as linhas */
      tr:nth-child(even) {
          background-color: #f2f2f2; /* Cor de fundo para linhas pares */
      }

  
  

